@media screen and (min-width:500px){
  

.App {
  text-align: center;
  position: absolute;
  width: 100%;
}
#nav{
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-bottom: 0px;
}
#nav>li a{
  
  position: fixed;
  text-decoration: none;
}
#nav>li a:hover{
  border-bottom: 5px solid rgb(247, 230, 42);
}
#nav>li a:focus{
  border-bottom: 5px solid rgb(89, 239, 19);
}
}
@media screen and (max-width:500px) {
  .App{
    display: flex;
    justify-content: center;
  }
  #nav{
    list-style: none;
    display: inline-block;
    font-size: 30px;
    text-align: center;
  }
  #nav>li a{
    text-decoration: none;
  }
  #nav>li a:hover{
    border-bottom: 5px solid rgb(247, 230, 42);
  }
  #nav>li a:focus{
    border-bottom: 5px solid rgb(89, 239, 19);
  }
}

